# Configurações da aplicação
PORT=3000
DB_PATH=/data/portfolio.db

# Configurações AWS (usadas nos scripts de infraestrutura)
AWS_REGION=us-east-1
AWS_PROFILE=default

# Seu IP público para regra SSH (obtenha em https://checkip.amazonaws.com)
MY_IP=34.200.221.230/32
