# Configurações da aplicação

APP_NAME=MeuProjetoAWS
APP_ENV=production

# Servidor
PORT=80
HOST=0.0.0.0

# Banco de dados (exemplo)
DB_HOST=localhost
DB_PORT=3306
DB_NAME=meubanco
DB_USER=root
DB_PASSWORD=senha

# AWS (exemplo)
AWS_REGION=sa-east-1

# Outras configs
DEBUG=false