# AWS
AWS_REGION=us-east-1
AWS_ACCOUNT_ID=000000000000

# Buckets
WEBSITE_BUCKET=tf11-6324064-website
ASSETS_BUCKET=tf11-6324064-assets

# CloudFront
CLOUDFRONT_PRICE_CLASS=PriceClass_100
ACM_CERT_ARN=

# APIs
CONTACT_API_URL=
UPLOAD_API_URL=
GALLERY_API_URL=

# Contact Lambda
CONTACTS_TABLE=tf11-contacts-6324064
SES_FROM_EMAIL=
SES_TO_EMAIL=
