# AWS
AWS_REGION=us-east-1

# RDS instance
DB_INSTANCE_IDENTIFIER=tf10-rds-6324064
DB_ENGINE=postgres
DB_ENGINE_VERSION=16.3
DB_INSTANCE_CLASS=db.t3.micro
DB_ALLOCATED_STORAGE=20
DB_STORAGE_TYPE=gp3
DB_PORT=5432
DB_NAME=appdb
DB_MASTER_USERNAME=postgres
DB_MASTER_PASSWORD=trocar_senha_forte
DB_SUBNET_GROUP_NAME=subnet-group-privado-rds
DB_VPC_SECURITY_GROUP_IDS=sg-xxxxxxxx
BACKUP_RETENTION_DAYS=7
MULTI_AZ=true
PUBLICLY_ACCESSIBLE=true
DELETION_PROTECTION=false
PERFORMANCE_INSIGHTS_ENABLED=true
WAIT_FOR_AVAILABLE=true

# Tags
TAG_OWNER=seu_nome
TAG_PROJECT=tf10-rds-migration

# Local Postgres
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5432
LOCAL_DB_NAME=appdb
LOCAL_DB_USER=postgres
LOCAL_DB_PASSWORD=postgres

# RDS connection
# Se deixar vazio, migrate-data.sh busca automaticamente pelo DB_INSTANCE_IDENTIFIER
RDS_ENDPOINT=
RDS_DB_PORT=5432
RDS_DB_NAME=appdb
RDS_DB_USER=postgres
RDS_DB_PASSWORD=trocar_senha_forte
RDS_SSLMODE=require

# Cleanup
SKIP_FINAL_SNAPSHOT=false
DELETE_AUTOMATED_BACKUPS=true
WAIT_FOR_DELETE=true
DELETE_SUBNET_GROUP=false
DELETE_SECURITY_GROUPS=false
